.movies_item_summury{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.movies_item_img img{
  max-width: 70%;
  display: block;
      margin: 0 auto;
  -webkit-box-shadow: -6px 0px 18px 1px rgba(255,255,255,0.86); 
box-shadow: -6px 0px 18px 1px rgba(255,255,255,0.46);
}

.movies_item_title, 
.movies_item_year{
  font-weight: 300;
  margin: 0;
}
.movies_item_year{
  font-weight: 500;
}

.movies_item_title{
  margin-bottom: 5px;
  font-size: 24px;
  color: aliceblue;
  font-weight: 600;
}

.movies_item_genres{
  list-style: none;
  padding: 0;
  margin: 5px  0px;
  display: flex;
  flex-wrap: wrap;
}
.movies_item_genres li, 
.movies_item_year{
  font-size: 14px;
  margin-right: 10px;
}

.movies_descr {
  margin-top: 20px;
  text-decoration: none;

}
.movies_descr a.text {
  text-decoration: none;
  
}

.movies_item_summury{
  font-size: 14px;
  color: rgba(240, 255, 255, 0.699);
}

.movies_descr a, a:link, a:visited, a:focus, a:hover, a:active{
  color:rgb(230, 230, 228);
  text-decoration:none;
}